:root {
  --main-dark-color: #022b3a;
  --main-bg-color: #a3d9ff;
  --lighter-bg-color: #c1e5ff;
  /*--alt-bg-color: #e8aeb7;*/
  --alt-bg-color: white;
  /* --alt-3-color: #dcd6f7; */
  --alt-3-color: white;
  --alt-4-color: #549f93;

}

.colors {
  color: var(--main-dark-color);
  font-family: 'Merriweather', serif;
}

.well-colors {
  background-color: var(--lighter-bg-color);
}

.alt-side-colors {
  color: var(--alt-3-color);
  background-color: var(--main-dark-color);
}
.alt-side-colors-2 {
  color: var(--alt3-color);
  background-color: var(--alt-bg-color);
}

.nobreak {
    white-space: nowrap;
}

/*.TODO {
  color: red;
  font-style:italic;
}*/

h1 {
  margin: 1rem 0;
  font-size: 2rem;
}

h2 {
  padding: 0 .5rem;
  margin: .3rem 0;
  font-size: 1.2rem;
}
h3 {
  margin: 0;
  font-size: 1.1rem;
  padding: 0.3em 0;
}
h4 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
}
ul {
  padding: 0 1rem 0 2.5rem;
  margin: .2rem 0;
}
p {
  margin: .3rem 0;
}

.container {
  display: grid;
  grid-gap: 0;
  grid-template-areas:
    "header"
    "title"
    "description"
    "experiences"
    "skills"
    "cloud"
    "education";
}

.contact {
  grid-area : header;
  padding: 1rem 1.5rem;
  hyphens: manual;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.contact .name {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: .3rem;
  flex: 2 100%;
}
.contact .address {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: lighter;
}
.contact .age {
  display: inline-block;
  font-size: 0.8rem;
  font-style: italic;
}
.contact .email {
  display: block;
  font-size: 0.8rem;

}
.contact .tel {
  display: block;
  font-size: 0.8rem;
  white-space: nowrap;
}
.contact .flex-item-left {
    flex: 1 50%;
    margin-bottom: .1rem;
}
.contact .flex-item-right {
    flex: 1 30%;
    text-align: left;
    margin-bottom: .1rem;
}
.contact .hide {
    display: none;
}
/* .contact .qr {
  display: none;
} */

.title {
  grid-area : title;
  font-family: 'Open Sans', sans-serif;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
}

.description {
  grid-area: description;
  text-indent: 1rem;
  font-style: italic;
  padding: .5rem 1rem;
  margin: 3px 0;
}

.skills {
  grid-area: skills;
  padding: 0 1rem;
}
.skills ul li {
  list-style: none;
}
.technical {
  display: none;
}
.skills h2 {
  padding: 0 1.5rem;
}
.skills h2::before {
  content: ">_";
  font-family: 'Source Code Pro', monospace;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--alt-4-color);
  display: inline-block;
  width: 1rem;
  margin: 0 .5rem 0 -1.4rem;
}

.skills h2::after {
  content: "{";
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--alt-4-color);
  display: inline-block;
  width: 1rem;
  margin: -.3rem .5rem;
}
.skills ul {
  padding: 0;
  margin: 0;
}
.skills ul::after {
  content: "}";
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--alt-4-color);
  display: inline-block;
  width: 1rem;
  margin: -.5rem 1.3rem;
}
.skills li {
  padding: 0 0 0 2.4rem;
  line-height: 1.1rem;
}
.skills li::after{
  content: ",";
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  font-weight: normal;
  color: var(--alt-4-color);
  margin-left: -.1rem;
}

.stars {
  color: var(--alt-4-color);
}

.cloud {
  grid-area: cloud;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 2rem 0;
  height: max-content;
}
/* div carrée : height = width */
.cloud:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.cloud-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.circle {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: thin solid;
  font-size: .9rem;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align:center;
}
.circle.circle4 {
  width: calc(100%/3);
  height: calc(100%/3);
}
.circle.circle3 {
  width: calc(100%/4);
  height: calc(100%/4)
}
.circle.circle2 {
  width: calc(100%/5);
  height: calc(100%/5);
}
.circle.circle1 {
  width: calc(100%/7);
  height: calc(100%/7);
}
.backend {
  background-color: rgba(169,221,214,.6);
  border-color: rgba(169,221,214,1);
}
.frontend {
  background-color: rgba(220,214,247,.6);
  border-color: rgba(220,214,247,1);
}
.others {
  background-color: rgba(252,246,195,.6);
  border-color: rgba(252,246,195,1);
}

/* Java */
.circle:nth-child(1) {
  top: calc(100%*7/20);
  left: calc(100%*6/20);
}
/* Scala */
.circle:nth-child(2) {
  top: calc(100%*4/20);
  left: calc(100%*6/20);
}
/* Play 2 */
.circle:nth-child(3) {
  top: calc(100%*4/20);
  left: calc(100%*10/20);
}
/* Akka */
.circle:nth-child(4) {
  top: calc(100%*3/20);
  left: calc(100%*10/20);
}
/* REST */
.circle:nth-child(5) {
  top: calc(100%*8/20);
  left: calc(100%*5/20);
  z-index: 9;
}
/* JS */
.circle:nth-child(6) {
  top: calc(100%*10/20);
  left: calc(100%*4/20);
  z-index: 8;
}
/* JQuery*/
.circle:nth-child(7) {
  top: calc(100%*12/20);
  left: calc(100%*6/20);
}
/* D3 */
.circle:nth-child(8) {
  top: calc(100%*10/20);
  left: calc(100%*11/20);
}
/* Vue */
.circle:nth-child(9) {
  top: calc(100%*13/20);
  left: calc(100%*10/20);
}
/* HTML */
.circle:nth-child(10) {
  top: calc(100%*15/20);
  left: calc(100%*10/20);
}
/* CSS*/
.circle:nth-child(11) {
  top: calc(100%*16/20);
  left: calc(100%*8/20);
}
/* Git*/
.circle:nth-child(12) {
  top: calc(100%*6/20);
  left: calc(100%*2/20);
}



.education {
  grid-area: education;
  padding: .5rem 0;
}
.education .item {
  padding: 0 1.5rem;
  margin: .3rem 0;
  font-size: .8rem;
}
.education .item .year {
  padding-right: .5rem;
  font-weight: bold;
}


.experiences {
  grid-area: experiences;
}

.experience {
  padding: 0 .8rem;
  margin: .3rem 0;
  font-size: 1rem;
}
.experience-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
}
.experience .duration {
  display: inline-block;
  font-style: italic;
  font-size: .8rem;
}
.position {
  padding: 0 0 .5rem;
}

@media print, screen and (min-width: 42em) {
  .container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "header title"
      "header description"
      "skills experiences"
      "cloud experiences"
      ". experiences"
      "education experiences";
  }
  .title {
    font-size: 2rem;
  }

  .contact {
    align-content: left;
  }
  .contact .name,
  .contact .flex-item-left,
  .contact .flex-item-right {
      flex: 1 100%;
  }

  .circle {
    font-size: 75%;
  }
}

@media screen {
  html, body {
    font-size: 100%;
  }

  .contact .qr {
    display: none;
    padding: 5px 0;
  }
}

@media print {
  html, body {
    font-size: 10pt;
  }

  h2, h3, h4, h5 {
   page-break-after: avoid;
  }
  ul, img {
   page-break-inside: avoid;
  }

  .contact .qr {
    display: block;
    padding: 5px 0;
    margin: 0 auto;
  }
  .qr img {
      width: 100px;
      height: 100px;
  }
  .qr .url {
    font-size: 9px;
    text-align: center;
    margin-top: -4px;
  }
}
